body {
    padding: 20px;
    color: white;
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    body {
        background: red;
    }

    p {
        font-size: 12px;
    }

    h1 {
        font-size: 12px;
    }

    img {
        content: url('Images/image1.jpg');
    }
}

@media only screen and (min-width: 600px) {
    body {
        background: orange;
    }

    p {
        font-size: 20px;
    }

    h1 {
        font-size: 20px;
    }

    img {
        content: url('Images/image2.jpg');
    }
}

@media only screen and (min-width: 768px) {
    body {
        background: yellow;
    }

    p {
        font-size: 30px;
    }

    h1 {
        font-size: 30px;
    }

    img {
        content: url('Images/image3.jpg');
    }
}

@media only screen and (min-width: 992px) {
    body {
        background: green;
    }

    p {
        font-size: 50px;
    }

    h1 {
        font-size: 50px;
    }

    img {
        content: url('Images/image4.jpg');
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background: blue;
    }

    p {
        font-size: 100px;
    }

    h1 {
        font-size: 100px;
    }

    img {
        content: url('Images/image5.jpg');
    }
}